<!-- 転送元チェーン・NFTコレクションの選択 -->
<div class="component">

    <!-- 転送元チェーン -->
    <select id="src-chain" size="1" onChange="(thisComponent).onChangeChain()">
        <option value="">-- 転送元のチェーンを選択してください --</option>
        <!-- ここに転送元のチェーンの選択肢が追加されます。 -->
    </select>

    <!-- 転送元のNFTコレクション -->
    <select id="src-nft-collection" size="1" onChange="(thisComponent).onChangeNftCollection()">
        <option value="">-- 転送元のNFTコレクションを選択してください --</option>
        <!-- ここに転送元のNFTコレクションの選択肢が追加されます。 -->
    </select>

    <!-- ユーザ -->
    <select id="srcUser" size="1" onChange="(thisComponent).onChangeSrcUser()">
        <option value="">-- ユーザを選択してください --</option>
        <!-- ここにユーザの選択肢が追加されます。 -->
    </select>
</div>
